*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	text-align: center;
}

nav{
	background-color: #FFC766;
	height: 70px;
	width: 100%;
	text-align: left;
}

.logo{
	margin-left: 40px;

}

.logo:hover{
	cursor: pointer;
}



body{
	font-family: verdana;
	background-image: url('phbackground.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	background-size: cover;
 	background-color: #f1f1f1;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}


.headerbutton{
	color: black;
	font-size: 15px;
	text-transform: uppercase;
}


.headerbutton::after,.headerprofile::after,.headercart::after{
	content: '';
	display: block;
	width: 0;
	height: 5px;
	background: brown;
	transition: width .3s;
}

.headerbutton:hover::after,.headerprofile:hover::after,.headercart:hover::after{
	width: 100%;
	transition: width .3s;
}

.dropdown{
 	display: inline-block;
 	color: white;
  	text-decoration: none;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#welcome{
	font-family: Verdana;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-size: 40px;
	color: brown;
	border:	2px solid #FFF;
	backdrop-filter: blur(6px);
	padding: 10px;
}

.mainpromo{
	display: block;
	cursor: pointer;
	max-width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	border:	2px solid #FFF;
  	border-radius: 50px 50px 50px 50px;
}

.otherpromo{
	display: inline-block;
	text-align: center;
	width: 33%;
}

.promoimage{
	border:	2px solid #FFF;
  	border-radius: 25px;
}