*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
	background-color: #FFC766;
	height: 70px;
	width: 100%;
}

.logo{
	margin-left: 40px;
}

.logo:hover{
	cursor: pointer;
}



body{
	font-family: verdana;
	/*font-weight: bold;*/
	background-image: url('phbackground.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	background-size: cover;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 30px;
}

.headerbutton{
	color: black;
	font-size: 15px;
	text-transform: uppercase;
}

.headerbutton::after,.headerprofile::after,.headercart::after{
	content: '';
	display: block;
	width: 0;
	height: 5px;
	background: brown;
	transition: width .3s;
}

.headerbutton:hover::after,.headerprofile:hover::after,.headercart:hover::after{
	width: 100%;
	transition: width .3s;
}

.headerprofile{
	
}

